*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-main-menu1 {
    color: var(--secundary-color);
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    text-align: center;
}

input, select, option{
    border-radius: 5px;
    background-color: var(--soft-color);
    margin-top: 20px;
}

input {
    padding: 10px;
}

label {
    display: inline-block;
    width: 150px;
}

select {
    padding: 5px;
}

#main-content{
    margin: 40px 0;
}

.button-group {
    margin-top: 10px;
}

#tituloResultado{
    text-align: center;
}

#mostra-resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.button-group button {
    border-radius: 10px;
    background-color: var(--action-color);
    border: none;
    margin-top: 15px;
    padding: 10px;
    width: 100px;
    
}