*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #449FD4;
    --secundary-color: #2AA4BB;
    --soft-color: #C0B9DD;
    --action-color: #5BB776;
    --dark-color: #333333;
    --white-color: #EDEEF0
    --gray-color: #C0B9DD
}

.remove-decoration{
    text-decoration: none;
    list-style: none;
}

#header nav {
    padding: 0;
    margin: 0;
    width: 100%;
}

#logo-nav {
    text-align: center;
}
#logo-nav a {
    display: inline-block;
    margin: 15px 0 10px 0;

}
#logo-nav a img {
    width: 264px;
    display: inline-block;
}

#main-menu {
    text-align: center;
}
#main-menu ul {
    margin:0px;
    list-style:none;
    padding: 10px 0 10px;
    background-color: var(--dark-color);
    
}
#main-menu ul li {
    display: inline;
    padding: 10px;
}
#main-menu ul li a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    line-height: 32px;
    color: #FFFEFE;
}

#main-menu ul li a:hover {
    color: var(--action-color);
}

#main-menu ul li a:active {
    color: var(--primary-color);
    border-bottom:3px solid var(--action-color);
}